:8080 {
	encode zstd gzip

	handle /api/* {
		reverse_proxy trade-journal-api
	}

	handle /metrics {
		reverse_proxy trade-journal-api
	}

	handle {

		root * /srv
		try_files {path} /index.html
		file_server
	}
}

